:root {
  --text: #1f2937;
  --text-h: #111827;
  --bg: #f5f7fb;
  --border: #d1d5db;
  --code-bg: #f3f4f6;
  --accent: #2563eb;
  --accent-bg: #dbeafe;
  --accent-border: #2563eb;

  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;

  color: var(--text);
  background: var(--bg);
  color-scheme: light;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
}

#root {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

h1 {
  color: var(--text-h);
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  color: var(--text-h);
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  color: var(--text-h);
}

p,
label,
td {
  color: var(--text);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

thead {
  background: #2563eb;
  color: white;
}

th {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
  font-weight: 500;
}

tbody tr:hover {
  background: #f8fafc;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #2563eb;
}

a {
  text-decoration: none;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}